<%= turbo_frame_tag restaurant do %>
<div class="container">
  <div class="border p-3 rounded mb-4">
    <div class="d-flex justify-content-center align-item-center p-2">
    <span class="me-auto"><%= restaurant.name %></span>
    <span class="me-auto"><%= restaurant.address %></span>
    <%= link_to restaurant_path(restaurant), data: {turbo_method: :delete}, class: 'btn btn-danger me-3' do%>
    <i class="fa-solid fa-trash"></i>
    <%end%>
    <%= link_to edit_restaurant_path(restaurant), class: 'btn btn-warning' do%>
    <i class="fa-regular fa-pen-to-square"></i>
    <%end%>
      </div>
  </div>
</div>
<%end%>
